extends layout

block content
  div(class="pure-g")
    div(class="pure-u-1-4")
      div(class="l-box")
        a(href="/denmark") Get Denmark Data
    div(class="pure-u-1-4")
            div(class="l-box")
              a(href="/germany") Get Germany Data
    div(class="pure-u-1-4")
            div(class="l-box")
              a(href="/france") Get France Data
    div(class="pure-u-1-4")
            div(class="l-box")
              a(href="/uk") Get United Kingdom Data
    div(class="pure-u-1-4")
      div(class="l-box")
        a(href="/hungary") Get Hungary Data
    div(class="pure-u-1-4")
      div(class="l-box")
        a(href="/slovakia") Get Slovakia Data
    div(class="pure-u-1-4")
      div(class="l-box")
        a(href="/australia") Get Australia Data
    div(class="pure-u-1-4")
      div(class="l-box")
        a(href="/india") Get India Data
    div(class="pure-u-1-4")
      div(class="l-box")
        a(href="/us") Get United States Data




